



.tab{
    min-height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.tab > *{
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.vote{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.vote-info{
    border: 0;
}

.distance{
    font-size: 0.8rem;
}
/*
    DEBUG
*/
